{"data": [
    {
        "discord": {
            "token": "token"
        },
        "mysql": {
            "db_host": "hostname",
            "db_user": "user",
            "db_pass": "pass",
            "db": "database"
        },
        "rpc": {
            "rpc_host": "127.0.0.1",
            "rpc_port": "20102",
            "rpc_user": "user",
            "rpc_pass": "pass"
        },
        "logging": {
            "print_level": 3,
            "file": "log.txt",
            "file_level": 3
        },
        "owners": ["owners discord id"],
        "prefix": "!",
        "description": "Verge Tipbot"
    }
]}
