{"data": [
    {
        "discord": {
            "token": "put the bot token here"
        },
        "mysql": {
            "db_host": "localhost",
            "db_user": "root",
            "db_pass": "put mysql password here",
            "db": "mysql"
        },
        "rpc": {
            "rpc_host": "127.0.0.1",
            "rpc_port": "6269",
            "rpc_user": "this username should match the one in the wallet config",
            "rpc_pass": "this password should match the one in the wallet config"
        },
        "logging": {
            "print_level": 3,
            "file": "log.txt",
            "file_level": 3
        },
        "soak": {
            "soak_max_recipients": 50,
            "use_max_recipients": true,
            "soak_min_received": 0.0001,
            "use_min_received": true
        },
        "command_channels": {
            "help": "name of text channel for this command",
            "deposit": "name of text channel for this command",
            "withdraw": "name of text channel for this command",
            "balance": "name of text channel for this command",
            "uptime": "name of text channel for this command",
            "invite": "name of text channel for this command",
            "stats": "name of text channel for this command",
            "mninfo": "name of text channel for this command",
            "tip": "name of text channel for this command",
            "soak": "name of text channel for this command",
            "soak_info": "name of text channel for this command",
            "checksoak": "name of text channel for this command"
        },
        "txfee": 0,
        "owners": ["put your discord id here"],
        "prefix": "!",
        "description": "Galactrum Bot"
    }
]}
